- var fgcolor = SDC.get(['root', 'main_color'], 'FFFF00')
- var bgcolor = SDC.get(['root', 'secondary_color'], '1a1919')
style.
    /**
    ** SAAL COLOR SCHEME
    */

    .article em > em {
        color: white;
        font-style: normal;
    }

    #front-carousel,
    .event-banner .item {
        background-color: #{bgcolor};
    }

    .item a:hover header,
    .select-cat .active {
        color: #{bgcolor};
    }

    .select-cat label:hover {
        color:#{bgcolor};
    }

    li.event,
    .highlight.event {
        background-color: #{fgcolor};
        color: #{bgcolor};
    }

    li.tour,
    .highlight.tour {
        background-color: #{bgcolor};
        color: #{fgcolor};
    }

    .highlight.tour.event {
        background: #{bgcolor};
        background: -webkit-linear-gradient(#{bgcolor}, #{fgcolor}); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#{bgcolor}, #{fgcolor}); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#{bgcolor}, #{fgcolor}); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#{bgcolor}, #{fgcolor}); /* Standard syntax */
    }

    .navbar-nav > .active > a,
    .main-nav a:hover,
    .legend li.event:before {
        color: #{fgcolor} !important;
    }

    .legend li.tour:before {
        color: #{bgcolor};
    }

    .legend li.event,
    .legend li.tour {
        background-color: transparent;
    }

    .today {
        color: #{fgcolor};
    }

    .btn,
    .btn-primary {
        background-color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .btn:hover,
    .btn-primary:hover {
        color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .btn:focus,
    .btn-primary:focus {
        background-color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .open>.btn-default.dropdown-toggle {
        background-color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .btn-default {
        color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .btn-default:hover {
        background-color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .social .lang a {
        color: #{fgcolor} !important;
    }

    .social .lang a:hover {
        color: #{bgcolor} !important;
    }

    footer .social a {
        color: #fff !important;
    }

    footer .social a:hover {
        color: #{fgcolor} !important;
    }

    .volunteer {
        background-color: #{fgcolor};
        color: #{bgcolor};
    }

    .volunteer:hover {
        border: 2px solid #{fgcolor} ;
        color: #{fgcolor};
    }

    .panel h3 a:focus,
    .panel .select-cat label a:focus,
    .select-cat .panel label a:focus {
        color: #{bgcolor};
    }

    #mailchimp-sign-up input[type="text"] {
        border: 2px solid #{bgcolor};
        color: #{bgcolor};
    }

    #mailchimp-sign-up input[type="submit"] {
        color: #{bgcolor};
    }

    .matched {
        color: red;
    }

    .pager li > a,
    .pager li > span {
        background-color: #{bgcolor};
        border: 1px solid #{bgcolor};
        color: #fff;
    }

    .pager li > a:hover,
    .pager li > span:hover {
        background-color: #fff;
        border: 1px solid #{bgcolor};
        color: #{bgcolor};
    }


    footer {
        background-color: #{bgcolor};
    }

    .site-search input {
        border: 2px solid #{bgcolor};
        color: #{bgcolor};
    }

    .site-search button{
        color: #{bgcolor};
    }

    .highlight a:hover {
        color: #fff !important;
    }

    a:hover,
    a:focus,
    a:active,
    .select-cat a:hover,
    .select-cat a .active:hover {
        color: #{fgcolor} !important;
    }

    .popover-content a:hover {
    }
