extends layout

block vars

block content

    .container-fluid
        .row.page-margin
            section.col-md-6
                h2= t('title.saal')

                .carousel.slide(id='about-carousel' data-ride='carousel')
                    .carousel-inner(role='listbox')
                        img.img-responsive.item.active(src='http://placehold.it/640x480' alt='Test')
                        img.img-responsive.item(src='http://placehold.it/640x480' alt='Test')
                        img.img-responsive.item(src='http://placehold.it/640x480' alt='Test')

                    a.left.carousel-control(href='#about-carousel' role='button' data-slide='prev')
                        span.icon-prev.arrow-left(aria-hidden='true')
                    a.right.carousel-control(href='#about-carousel' role='button' data-slide='next')
                        span.icon-next.arrow-right(aria-hidden='true')

                article.h3
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ad adipisci, minus natus nostrum? Odio, rerum dolores dolorum et quia nostrum inventore neque veniam incidunt quis officiis placeat, doloribus at velit ratione deserunt ducimus repellendus quaerat quo atque obcaecati aperiam perspiciatis molestiae! Nam sunt excepturi sed, aliquid a temporibus nemo sapiente, ratione culpa adipisci expedita modi laudantium illo perspiciatis molestiae atque pariatur, ea itaque repudiandae eaque maxime natus voluptate dolore dolores! Dignissimos nostrum nam non iste deleniti fugiat fugit eligendi, sapiente perspiciatis maxime ratione molestiae sed doloremque quidem qui possimus corrupti aliquam labore eveniet delectus odio amet commodi similique quo? Quis facilis quae perspiciatis tenetur ut, iure atque nobis ipsum harum ipsa, quos!

            section.news.col-md-6
                h2= t('title.news')

                .panel-group(id='accordion' role='tablist' multiselectable='true')

                    - var indexCollapse = 0
                    - var indexIn = 0
                    each bulletin, datestring in news
                        each p in bulletin
                            .panel
                                div(role="tab" id="heading-"+op.get(p, 'id')+"")
                                    h3
                                        a(class=(++indexCollapse === 1 ? '' : 'collapsed') data-toggle="collapse" data-parent="#accordion" href="#collapse-"+op.get(p, 'id')+"" aria-expanded="true" aria-controls="collapse-"+op.get(p, 'id')+"")= op.get(p, lang + '-title')

                                .panel-collapse.collapse(class=(++indexIn === 1 ? 'in' : ' ') id="collapse-"+op.get(p, 'id')+"" role="tabpanel" aria-labelledby="heading-"+op.get(p, 'id')+"")
                                    div
                                        p!= op.get(p, lang + '-body')

                a.load-more.btn.btn-primary(href='#')= t('button.load-more')

                .floorplans
                    h2= t('title.floorplans')
                    ul.list-unstyled.h3
                        each location in locations
                            each floorplan in op.get(location, ['floorplan'], [])
                                li
                                    a(href=floorplan.file target='_blank')= op.get(location, [lang+'-name'])
                
                .old-www
                    h2= t('title.archive')
                    ul.list-unstyled.h3
                        li
                            a(href='http://www.saal.ee/archive/' target='_blank') www.saal.ee 08—15   
                        li
                            a(href='http://www.saal.ee/archive/' target='_blank') www.saal.ee 04—08            

    .row.page-margin
        .supporter.col-md-12
            h2= t('title.sponsors')
            ul.list-inline
                each supporter in supporters
                    li
                        a(href='#')
                            img(src=op.get(supporter, ['photos', 0, 'file']), height=50, width=100)
                li
                    a(href='#')
                        img(src='http://placehold.it/100x50' alt='Test')
                li
                    a(href='#')
                        img(src='http://placehold.it/100x50' alt='Test')
