extends layout

block vars

block content

    .container-fluid

        if op.get(event, 'performance.photo.file')
            .row
                .event-banner.carousel.slide(id='front-carousel' data-ride='carousel')
                    .carousel-inner(role='listbox')
                        figure(id='slide-01' style='background-image: url(' + op.get(event, 'performance.photo.file') + ');')
                        header.col-md-8
                            p= op.get(event, lang + '-subtitle', '')
                            h1= op.get(event, lang + '-name', '')

                        - categoryNames = op.get(event, 'category', []).map(function(c){return c.value});
                        ul.event-categories
                            li.text-uppercase.h3(class=(categoryNames.indexOf("Teater") > -1 ? "" : "unactive"))
                                span
                                    a(href='search?q=category:Teater')= t('categories.theatre')
                            li.text-uppercase.h3(class=(categoryNames.indexOf("Tants") > -1 ? "" : "unactive"))
                                span
                                    a(href='search?q=category:Tants')= t('categories.dance')
                            li.text-uppercase.h3(class=(categoryNames.indexOf("Performance") > -1 ? "" : "unactive"))
                                span
                                    a(href='search?q=category:Performance')= t('categories.performance')
                            li.text-uppercase.h3(class=(categoryNames.indexOf("Muusika") > -1 ? "" : "unactive"))
                                span
                                    a(href='search?q=category:Muusika')= t('categories.music')
                            li.text-uppercase.h3(class=(categoryNames.indexOf("Loeng") > -1 ? "" : "unactive"))
                                span
                                    a(href='search?q=category:Loeng')= t('categories.lecture')
                            li.text-uppercase.h3(class=(categoryNames.indexOf("Film") > -1 ? "" : "unactive"))
                                span
                                    a(href='search?q=category:Film')= t('categories.film')
                            li.text-uppercase.h3(class=(categoryNames.indexOf("Uus tsirkus") > -1 ? "" : "unactive"))
                                span
                                    a(href='search?q=category:Uus tsirkus')= t('categories.new-circus')

        .row.page-margin
            aside.col-md-4.col-lg-3
                .row
                    each datestring in op.get(event, 'start-time', [])
                        if datestring >= ((moment(Date.now()).format('YYYY-MM-DD HH:mm')))
                            .col-xs-6.col-md-6
                                p= (moment(datestring).locale(lang).format('dddd'))
                                p= (moment(datestring).locale(lang).format('L'))
                                p= (moment(datestring).locale(lang).format('HH:mm'))
                            .col-xs-6.col-md-6.text-right
                                a.btn.btn-primary(href='#') Osta pilet

                            .col-xs-12.col-md-12.col-lg-12
                                hr

                .meta-info!= op.get(event, 'performance.' + lang + '-technical-information')

                    a.text-right(href='https://saal.entu.ee/entity/event/' + op.get(event, 'id')) Vaata intranetis

            article.main-text.col-md-8.col-lg-6.h3!= op.get(event, 'performance.' + lang + '-description')

            aside.video-sound.col-md-12.col-lg-3
                if op.get(event, 'performance.audio')
                    div
                        h2= t('title.sound')
                        div!= op.get(event, 'performance.audio')
                if op.get(event, 'performance.video')
                    div
                        h2= t('title.video')
                        div!= op.get(event, 'performance.video')

        .row.page-margin

            if coverage.length
                .press.col-md-6
                    h2= t('title.press')
                    .row
                        each press in coverage
                            .col-md-12.h3
                                a(href='' + press.url + '')= (moment(press.date).locale(lang).format('L')) + " " + press.source + ": " + press.title

                            .col-xs-12.col-md-12
                                hr

            if photos
                .gallery.col-md-6
                    h2= t('title.gallery')

                    .row
                        each photo in op.get(event, 'photos', [])
                            .single-image.col-xs-6.col-sm-3.col-md-4
                                a.fancybox(rel='gallery' href=''+ photo.file + '')
                                    img(src=''+ photo.file +'' class='img-responsive')

        .row.page-margin
            .past.col-md-6
                h2= t('title.past')
                .row
                    .col-md-3
                        p Laupäev
                        p 24.01
                        p 19:30
                    .col-md-9
                        h3
                            a(href='#') RESIDENDID Püha Vaimu SAALis JAANUAR 2015: HENRI HÜTT & TAAVET JANSEN SHOWING: LIIS VARES
                    .col-md-12
                        hr

            .upcoming.col-md-6
                h2= t('title.upcoming')
                .row
                    .col-md-3
                        p Laupäev
                        p 24.01
                        p 19:30
                    .col-md-9
                        h3
                            a(href='#') RESIDENDID Püha Vaimu SAALis JAANUAR 2015: HENRI HÜTT & TAAVET JANSEN SHOWING: LIIS VARES
                    .col-md-12
                        hr