extends layout

block vars

block content

  .container-fluid
    .row
      .event-banner.carousel.slide(id='front-carousel')
        .carousel-inner(role='listbox')
          figure(style="background-image: url('" + op.get(festival, ['photo', 'file']) + "');")

    .row.page-margin
      section.col-md-12
        //- pre= JSON.stringify(festival, null, 4)
        //- h2= op.get(festival, [lang + '-name'])
        //- h4= op.get(festival, [lang + '-subtitle'])
        //- p!= op.get(festival, [lang + '-description'])
        if festival.events
          //- h2= t('nav.schedule')
          .programme.row
            each datestring in Object.keys(festival.events).sort()
              each timestring in Object.keys(op.get(festival.events, [datestring])).sort()
                each p in op.get(festival.events, [datestring, timestring])
                  - var p_url = (op.get(p, ['performance', 'id'], false) ? '/' + lang + '/performance/' + op.get(p,['performance', 'id']) : '/' + lang + '/event/' + op.get(p,'id'))
                  //- each eventdate, datestring in festival.events
                  //-   each eventtime, timestring in eventdate
                  //- each p, i in eventtime
                  .col-xs-12.col-sm-2.col-lg-2
                    p= (moment(datestring).locale(lang).format('dddd'))
                    p= (moment(datestring).locale(lang).format('L'))
                    if timestring != '23:59'
                        p= timestring

                    if op.get(p, 'canceled') === true
                      p.today= t('button.canceled')
                    //- Premiere
                    if op.get(p, 'performance.premiere.start-time')
                      if (moment(datestring).locale(lang).format('L') === moment(op.get(p, 'performance.premiere.start-time')).locale(lang).format('L'))
                        p.today= t('button.premiere')
                    //- Today
                    if (moment(datestring).format('M') + ' ' + moment(datestring).format('D')) == ((moment().month()+1) + ' ' + moment().date())
                      p.today= t('button.today')
                    //- Artist Talk
                    if (op.get(p,['talk'], false) === true)
                      p.today= t('button.artist-talk')

                  .col-xs-12.col-md-6.col-lg-6
                    a(href=p_url)
                        h3
                          if op.get(p, ['performance', 'id'], false)
                            if op.get(p, [lang + '-supertitle'], false)
                              span.subtitle= op.get(p, [lang + '-supertitle'], 'foo')
                          else
                            span= op.get(p, lang + '-name')
                              if op.get(p, lang + '-supertitle', '')
                                span.subtitle= op.get(p, lang + '-supertitle', '')

                        if op.get(p, ['performance', 'artist'], false)    
                          span.artist= op.get(p, ['performance', 'artist'])

                        if op.get(p, ['performance', 'producer'], false)
                          span.producer= op.get(p, ['performance', 'producer'])

                        if op.get(p, ['performance', lang + '-town'], false)
                          span.town= op.get(p, ['performance', lang + '-town'])

                        span.name= op.get(p, lang + '-name')

                        if op.get(p, [lang + '-subtitle'], false)
                          span.subtitle= op.get(p, [lang + '-subtitle'])
        
                  .col-xs-6.col-md-2.col-lg-2
                    if op.get(p, [lang + '-location'], false) || op.get(p, ['saal-location', lang + '-name'], false)
                      p.location= op.get(p, ['saal-location', lang + '-name'], op.get(p, [lang + '-location']))
                    
                    if op.get(p, 'price') === 0
                      p= t('title.free')
                    else
                      p= op.get(p, 'price')

                    if op.get(p, 'min-price')
                      if op.get(p, 'min-price') === op.get(p, 'max-price')
                        p= op.get(p, 'min-price')
                      else
                        p= op.get(p, 'min-price') + '/' + op.get(p, 'max-price')
                    
                    if op.get(p, 'onsite-price')
                      p= t('title.onsite-price') + ': ' + op.get(p, 'onsite-price')

                  if op.get(p, 'sales-status')
                    if (new Date(datestring + ' ' + timestring) > new Date())
                      .col-xs-6.col-md-2.col-lg-2.text-right
                        if op.get(p, 'canceled') === true
                          a.btn.btn-primary(class="disabled")= t('button.canceled')
                        else
                          a.btn.btn-primary(class=((op.get(p, 'sales-status') === 'sold_out' || op.get(p, 'sales-status') === 'free_admission') ? "free disabled" : "") href=op.get(p, lang + '-ticket-api') target='_blank')= t('button.buy_ticket.' + op.get(p, 'sales-status'))

                  .col-xs-12.col-md-12.col-lg-12
                    hr
