extends layout

block vars

block content
    #cover= t('.KGS')

    H4= t('nav.program')
    each eventdate in program
        each p, i in eventdate.events
            .row
                a(href='/' + lang + '/event/' + op.get(p,'id'))
                    img.col-xs-6.col-sm-4.col-md-2.col-xs-offset-3.col-sm-offset-4.col-md-offset-5(src=op.get(p, 'properties.photo.0.file'), alt=op.get(p, 'properties.name.value'), style='margin-bottom:20px')
                h3.col-xs-12= op.get(p, 'properties.name.value')
                p.col-xs-12= eventdate.date
                p.col-xs-12= op.get(p, 'properties.description.value')
            .spacer