extends layout

block vars

block content

    .container-fluid
        .row
            if featured
                section.event-banner.carousel.slide(id='front-carousel' data-ride='carousel')
                    .carousel-inner(role='listbox')
                        - var featureActive = 0
                        each feature in featured

                            .item(class=(featureActive++ === 0 ? 'active' : ''))
                                a(href='/' + lang + '/performance/' + op.get(feature,'id'))
                                    figure(id='slide-'+op.get(feature, 'id')+'' style='background-image: url(' + op.get(feature, 'photo.file') + ');')
                                    header.col-md-8
                                        p= op.get(feature, lang + '-subtitle', '')
                                        p= op.get(feature, 'artist', '') + ' / ' + op.get(feature, 'producer', '') + ' / ' + op.get(feature, 'town', '')
                                        h1= op.get(feature, lang + '-name', '')


                                - categoryEIDs = op.get(feature, 'category', []).map(function(c){return c.id})
                                    ul.event-categories
                                        each category in SDC.get(['local_entities', 'by_class', 'category'])
                                            if op.get(category, ['properties', 'featured', 'value'], false) == 'True'
                                                li.text-uppercase.h3(class=(categoryEIDs.indexOf(op.get(category, ['id'])) > -1 ? "" : "unactive"))
                                                    span
                                                        a(href='search?q=category:' + op.get(category, ['properties', lang+'-name', 'value']))= op.get(category, ['properties', lang+'-name', 'value'])


                    a.left.carousel-control(href='#front-carousel' role='button' data-slide='prev')
                        span.icon-prev.arrow-left(aria-hidden='true')
                        span.sr-only Previous
                    a.right.carousel-control(href='#front-carousel' role='button' data-slide='next')
                        span.icon-next.arrow-right(aria-hidden='true')
                        span.sr-only Next

                    //- Gradient Map for images
                    each feature in featured
                        script.
                            var slide#{feature.id} = document.getElementById('slide-#{feature.id}');
                            GradientMaps.applyGradientMap(slide#{feature.id}, '#{SAAL.secondary_color}, #{SAAL.main_color}'); 

        .row.page-margin
            section.col-xs-12.col-md-12.col-lg-9

                - var listlength = 3
                .programme.row
                    .col-xs-12.col-md-12.col-lg-12
                        h2= t('nav.schedule')

                    if program
                        each datestring in Object.keys(program).sort().slice(0, listlength)
                            each timestring in Object.keys(op.get(program, [datestring])).sort()
                                each p in op.get(program, [datestring, timestring])
                                    .col-xs-12.col-sm-2.col-lg-2
                                        p= (moment(datestring).locale(lang).format('dddd'))
                                        p= (moment(datestring).locale(lang).format('L'))
                                        p= timestring

                                        //- Premiere
                                        if op.get(p, 'performance.premiere.start-time')
                                            if (moment(datestring).locale(lang).format('L') === moment(op.get(p, 'performance.premiere.start-time')).locale(lang).format('L'))
                                                p.today= t('button.premiere')

                                        //- Today
                                        if (moment(datestring).format('M') + ' ' + moment(datestring).format('D')) == ((moment().month()+1) + ' ' + moment().date())
                                            div.today= t('button.today')

                                        //- Festival
                                        if (op.get(p,[lang+'-festival']))
                                            div.today= op.get(p,[lang+'-festival'])

                                    .col-xs-12.col-md-6.col-lg-6
                                        h3
                                            if op.get(p, 'performance.id', false)
                                                a(href='/' + lang + '/performance/' + op.get(p,'performance.id'))
                                                    span.subtitle= op.get(p, lang + '-subtitle', '')
                                                    span.artist= op.get(p, 'performance.artist', '')
                                                    span.producer= op.get(p, 'performance.producer', '')
                                                    span.town= op.get(p, 'performance.town', '')
                                                    br
                                                    span= op.get(p, lang + '-name')
                                                
                                            else
                                                a(href='/' + lang + '/event/' + op.get(p,'id'))= op.get(p, lang + '-name')
                                                    span.subtitle= op.get(p, lang + '-subtitle', '')
                                                    span.artist= op.get(p, 'performance.artist', '')
                                                    span.producer= op.get(p, 'performance.producer', '')
                                                    span.town= op.get(p, 'performance.town', '')
                                                    br
                                                    span= op.get(p, lang + '-name')
                                        
                                    .col-xs-6.col-md-2.col-lg-2
                                        p= op.get(p, 'location.'+ lang + '-name')
                                        if op.get(p, 'price') == 0
                                            p= t('title.free')
                                        else
                                            p= op.get(p, 'price')

                                        if op.get(p, 'min-price')
                                            if op.get(p, 'min-price') == op.get(p, 'max-price')
                                                p= op.get(p, 'min-price') + '€'
                                            else
                                                p= op.get(p, 'min-price') + '/' + op.get(p, 'max-price') + '€'

                                    if op.get(p, 'sales-status')
                                        .col-xs-6.col-md-2.col-lg-2.text-right
                                            a.btn.btn-primary(class=(op.get(p, 'sales-status') == 'sold_out' ? "disabled" : "") href=op.get(p, 'ticket-api') target='_blank')= t('button.buy_ticket.' + op.get(p, 'sales-status'))

                                    .col-xs-12.col-md-12.col-lg-12
                                        hr
                        
                        if Object.keys(program).length > listlength
                            .col-xs-12.col-md-12        
                                a.load-more.btn.btn-primary(href='/' + lang + '/program/')= t('button.view-all') + ' (' + Object.keys(program).length + ')'
                            
                    else
                        .col-lg-12
                            h2= t('title.no-events')

                .tour.row
                    .col-xs-12.col-md-12.col-lg-12
                        h2= t('nav.tours')

                    if tours
                        each datestring in Object.keys(tours).sort().slice(0, listlength)
                            each timestring in Object.keys(op.get(tours, [datestring])).sort()
                                each p in op.get(tours, [datestring, timestring])
                                    if op.get(p, ['performance', lang + '-name'])
                                        .col-xs-12.col-sm-2.col-lg-2
                                            p= (moment(datestring).locale(lang).format('dddd'))
                                            p= (moment(datestring).locale(lang).format('L'))
                                            p= timestring

                                            //- Premiere
                                            if op.get(p, 'performance.premiere.start-time')
                                                if (moment(datestring).locale(lang).format('L') === moment(op.get(p, 'performance.premiere.start-time')).locale(lang).format('L'))
                                                    p.today= t('button.premiere')

                                            //- Today
                                            if (moment(datestring).format('M') + ' ' + moment(datestring).format('D')) == ((moment().month()+1) + ' ' + moment().date())
                                                div.today= t('button.today')
                                                
                                            //- Is SAAL Biennaal
                                            
                                            //- Is Nu Performance Festival
                                            
                                        .col-xs-12.col-md-6.col-lg-6
                                            h3
                                                if op.get(p, 'performance.id', false)
                                                    a(href='/' + lang + '/performance/' + op.get(p,'performance.id'))
                                                        span.subtitle= op.get(p, lang + '-subtitle', '')
                                                        span.artist= op.get(p, 'performance.artist', '')
                                                        span.producer= op.get(p, 'performance.producer', '')
                                                        span.town= op.get(p, 'performance.town', '')
                                                        br
                                                        span= op.get(p, lang + '-name')
                                                    
                                                else
                                                    a(href='/' + lang + '/event/' + op.get(p,'id'))= op.get(p, lang + '-name')
                                                        span.subtitle= op.get(p, lang + '-subtitle', '')
                                                        span.artist= op.get(p, 'performance.artist', '')
                                                        span.producer= op.get(p, 'performance.producer', '')
                                                        span.town= op.get(p, 'performance.town', '')
                                                        br
                                                        span= op.get(p, lang + '-name')

                                        .col-xs-6.col-md-2.col-lg-2
                                            if op.get(p, 'price') == 0
                                                p= t('title.free')
                                            else
                                                p= op.get(p, 'price')

                                            if op.get(p, 'min-price')
                                                if op.get(p, 'min-price') == op.get(p, 'max-price')
                                                    p= op.get(p, 'min-price') + '€'
                                                else
                                                    p= op.get(p, 'min-price') + '/' + op.get(p, 'max-price') + '€'
                                    
                                        .col-xs-6.col-md-2.text-right
                                            p= op.get(p, 'location')
                                            
                                            if op.get(p, 'sales-status')
                                                a.btn.btn-primary(class=(op.get(p, 'sales-status') == 'sold_out' ? "disabled" : "") href=op.get(p, 'ticket-api') target='_blank')= t('button.buy_ticket.' + op.get(p, 'sales-status'))

                                        .col-xs-12.col-md-12.col-lg-12
                                            hr
                        
                        if Object.keys(tours).length > listlength
                            .col-xs-12.col-md-12        
                                a.load-more.btn.btn-primary(href='/' + lang + '/tours/')= t('button.view-all') + ' (' + Object.keys(tours).length + ')'
                                
                    else
                        .col-lg-12
                            h2= t('title.no-tours')


                .tour.row
                    .col-xs-12.col-md-12
                        h2= t('nav.residency')

                    if residencies
                        each datestring in Object.keys(residencies).sort().slice(0, listlength)
                            each timestring in Object.keys(op.get(residencies, [datestring])).sort()
                                each p in op.get(residencies, [datestring, timestring])
                                    .col-xs-12.col-md-2
                                        p= (moment(op.get(p,['start-time'])).locale('et').format('L')) + "—" + moment(op.get(p,['end-time'])).locale('et').format('L')

                                    .col-xs-12.col-md-10
                                        h3
                                            a(href='/' + lang + '/resident/' + op.get(p,'id'))= op.get(p, lang + '-name')

                                    .col-xs-12.col-md-12
                                        hr
                    
                        if Object.keys(residencies).length > listlength
                            .col-xs-12.col-md-12        
                                a.load-more.btn.btn-primary(href='/' + lang + '/residency/')= t('button.view-all') + ' (' + Object.keys(residencies).length + ')'
                    else
                        .col-lg-12
                            h2= t('title.no-residencies')


            aside.col-xs-12.col-md-12.col-lg-3.sidebar
                .row
                    .hidden-xs.col-sm-6.col-md-4.col-lg-12.datepicker-container
                        h2= t('title.calendar')
                        div(id='datepicker')
                        ul.list-inline.legend
                            li.event= t('title.event')
                            li.tour= t('title.tour')

                    .col-xs-12.col-sm-6.col-md-4.col-lg-12
                        a.text-center.h3.volunteer(href='mailto:vabatahtlik@saal.ee')= t('button.volunteer')
                           
                        a(href=sideBanner.url)
                            img(src=op.get(sideBanner, ['photos', 0, 'file']), alt=sideBanner.name, class="img-responsive img-center front-banner")

                    .col-xs-12.col-sm-12.col-md-4.col-lg-12(id='mailchimp-sign-up')
                        form.validate(action='http://paranoia.us8.list-manage.com/subscribe/post?u=1e1d48fe600fda5c3f6a39b75&amp;id=fdc080b2d5' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' target='_blank' novalidate)
                        .mc-field-group
                            input.required.email(type='text' value='' name='EMAIL' placeholder=t('placeholder.newsletter') id='mce-EMAIL')
                        .clear(id='mce-responses')
                            .response(id='mce-error-response' style='display:none')
                            .response(id='mce-success-response' style='display:none')
                        div(style='position: absolute; left: -5000px;')
                            input(type='text' name='b_1e1d48fe600fda5c3f6a39b75_fdc080b2d5' tabindex='-1' value='')
                        .clear
                            input.button(type='submit' value='OK!' name='subscribe' id='mc-embedded-subscribe')


                        .site-search
                            form(action='search')
                                input(type='text' name='q' id='search' placeholder=t('placeholder.search') value=(q?q:''))
                                button.icon-search.h4(type='submit')
