extends layout

block content
	h1= title
	p Welcome to #{title}

	h3!= count
	p Welcome to foo #{count}
	p Welcome to foo #{events.length} 

	ul
		each event in events
			li
				a(href='localhost:3000/event/' + event.id) #{event.name}


