extends layout

block vars

block content

    .container-fluid
        .row
            section.event-banner.carousel-slide(id='front-carousel' data-ride='carousel')
                .carousel-inner(role='listbox')
                    a.item.active(href='#')
                        figure(id='slide-01' style='background-image: url("http://placehold.it/1440x900");')
                        header.col-md-8
                            p Eesti Kunstiakadeemia arhitektuuriteaduskonna avatud loengute sari
                            h1 HENRI HÜTT & TAAVET JANSEN: Kaota mu naine ära, ehk mis tunne on olla mustkunstnik
                        ul.event-categories
                            li.text-uppercase.h3.unactive
                                span= t('categories.theatre')
                            li.text-uppercase.h3
                                span= t('categories.dance')
                            li.text-uppercase.h3
                                span= t('categories.performance')
                            li.text-uppercase.h3.unactive
                                span= t('categories.music')
                            li.text-uppercase.h3.unactive
                                span= t('categories.lecture')
                            li.text-uppercase.h3
                                span= t('categories.film')  
                            li.text-uppercase.h3
                                span= t('categories.new-circus')

                    a.item(href='#')
                        figure(id='slide-02' style='background-image: url("http://placehold.it/1440x900");')
                        header.col-md-8
                            p Saal Biennaal
                            h1 Taavet JANSEN
                        ul.event-categories
                            li.text-uppercase.h3.unactive
                                span= t('categories.theatre')
                            li.text-uppercase.h3
                                span= t('categories.dance')
                            li.text-uppercase.h3
                                span= t('categories.performance')
                            li.text-uppercase.h3.unactive
                                span= t('categories.music')
                            li.text-uppercase.h3.unactive
                                span= t('categories.lecture')
                            li.text-uppercase.h3
                                span= t('categories.film')  
                            li.text-uppercase.h3
                                span= t('categories.new-circus')

                a.left.carousel-control(href='#front-carousel' role='button' data-slide='prev')
                    span.icon-prev.arrow-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#front-carousel' role='button' data-slide='next')
                    span.icon-next.arrow-right(aria-hidden='true')
                    span.sr-only Next             

        .row.page-margin
            section.col-xs-12.col-md-12.col-lg-9

                .programme.row
                    .col-xs-12.col-md-12.col-lg-12
                        h2= t('nav.program')

                    each eventdate, datestring in program
                        each eventtime, timestring in eventdate
                            each p in eventtime
                                .col-xs-12.col-sm-2.col-lg-2
                                    p= t('weekdays.' + new Date(datestring).getDay())
                                    p= datestring
                                    //p= (new Date(datestring).toShortTimeString())
                                    p= timestring
                                .col-xs-12.col-md-6.col-lg-6
                                    h3.col-xs-12
                                        a(href='/' + lang + '/event/' + op.get(p,'id'))= op.get(p, 'name')
                                .col-xs-6.col-md-2.col-lg-2
                                    p= op.get(p, 'location')
                                    p= op.get(p, 'price')
                                .col-xs-6.col-md-2.col-lg-2.text-right
                                    a.btn.btn-primary(href='#') Osta pilet
                                .col-xs-12.col-md-12.col-lg-12
                                    hr

                //- .tour.row
                //-     .col-xs-12.col-md-12.col-lg-12
                //-         h2= t('nav.tours')

                //-     each eventdate, datestring in tours
                //-         each eventtime, timestring in eventdate
                //-             each p in eventtime
                //-                 .col-xs-12.col-sm-2.col-lg-2
                //-                     p= t('weekdays.' + new Date(datestring).getDay())
                //-                     p= datestring
                //-                     //p= (new Date(datestring).toString())
                //-                     p= timestring
                //-                 .col-xs-12.col-md-6.col-lg-6
                //-                     h3
                //-                         a(href='/' + lang + '/event/' + op.get(p,'id'))= op.get(p, 'name')
                //-                 .col-xs-6.col-md-2.col-lg-2
                //-                     p= op.get(p, 'location')
                //-                     p= op.get(p, 'price')
                //-                 .col-xs-6.col-md-2.col-lg-2.text-right
                //-                     a.btn.btn-primary(href='#') Osta pilet
                //-                 .col-xs-12.col-md-12.col-lg-12
                //-                     hr

                .tour.row
                    .col-xs-12.col-md-12
                        h2= t('nav.residency')

                    .col-xs-12.col-md-2
                        p 01.01—31.01.2015

                    .col-xs-12.col-md-10
                        h3
                            a(href='#') Henri Hütt & Taavet Jansen

                    .col-xs-12.col-md-12
                        hr                        

            aside.col-xs-12.col-md-12.col-lg-3
                .row
                    .hidden-xs.col-md-4(id='datepicker')

                    .col-xs-12.col-md-4.col-lg-12.voulenteer
                        a.text-center.h2(href='mailto:vabatahtlik@saal.ee') Tule vabatahtlikuks!

    //- .container-fluid
    //-     #cover= t('.KGS')

    //-     H4= t('nav.program')
    //-     each eventdate, date in program
    //-         h4.col-xs-12= date
    //-         each p, i in eventdate
    //-             .row
    //-                 hr
    //-                 a.col-xs-12(href='/' + lang + '/event/' + op.get(p,'id'))
    //-                     img.col-xs-6.col-sm-4.col-md-2.col-xs-offset-3.col-sm-offset-4.col-md-offset-5(src=op.get(p, 'photo.file'), alt=op.get(p, 'name'), style='margin-bottom:20px')
    //-                 p.col-xs-12= op.get(p, 'start-times')
    //-                 b.col-xs-12= op.get(p, 'name')
    //-                 p.col-xs-12!= op.get(p, 'description')
    //-             .spacer 
    //-                 p.col-xs-12= op.get(p.id)
