doctype html
html

    block vars

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, width=device-width, minimal-ui')
        if description
            meta(name='description', content=description)
        if keywords
            meta(name='keywords', content=keywords.join(', '))

        title= (title && title !== 'Kanuti Gildi Saal') ? title + ' - Kanuti Gildi Saal' : 'Kanuti Gildi Saal'

        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        link(rel='apple-touch-icon', sizes='57x57', href='/images/favicons/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/images/favicons/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/images/favicons/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/images/favicons/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/images/favicons/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/images/favicons/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/images/favicons/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/images/favicons/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon-180x180.png')
        link(rel='icon' type='image/png', href='/images/favicons/favicon-32x32.png' sizes='32x32')
        link(rel='icon' type='image/png', href='/images/favicons/android-chrome-192x192.png' sizes='192x192')
        link(rel='icon' type='image/png', href='/images/favicons/favicon-96x96.png' sizes='96x96')
        link(rel='icon' type='image/png', href='/images/favicons/favicon-16x16.png' sizes='16x16')
        link(rel='manifest', href='/images/favicons/manifest.json')
        link(rel='shortcut icon', href='/images/favicons/favicon.ico')
        meta(name='msapplication-TileColor', content='#ffc40d')
        meta(name='msapplication-TileImage', content='/images/favicons/mstile-144x144.png')
        meta(name='msapplication-config', content='/images/favicons/browserconfig.xml')
        meta(name='theme-color', content='#ffffff')

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-xxxxxx-xx', 'auto');
            ga('send', 'pageview');

        script(src='/javascripts/jquery/jquery-2.1.3.min.js')
        script(src='/javascripts/jquery/jquery-ui.min.js')
        script(src='/javascripts/jquery/jquery-ui-i18n.min.js')    
        script(src='/javascripts/bootstrap/bootstrap.js')
        script(src='/javascripts/jquery.shorten/jquery.shorten.js')
        script(src='/javascripts/fancybox2/source/jquery.fancybox.pack.js')
        script(src='/javascripts/gradientmaps/gradientmaps.min.js')
        script(src='/javascripts/datejs/date-et-EE.js')
        script(src='/javascripts/scripts.js')    
    body

        nav.navbar-default.navbar-fixed-top
            .container-fluid
                .row
                    .col-lg-1
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls="navbar")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.logo(href='/' + lang + '/')
                            img(src='/images/saal_logo.svg', alt=t('.KGS_logo'))
                            p.season.visible-lg= season
                    .collapse.navbar-collapse(id='navbar')
                        ul.list-unstyled.col-lg-1
                            li
                                a(href='/' + lang + '/about') Saal
                            li
                                a(href='/' + lang + '/program')= t('nav.program')
                            li
                                a(href='/' + lang + '/residency')= t('nav.residency')
                        ul.list-unstyled.col-lg-2            
                            li
                                a(href='/' + lang + '/tours')= t('nav.tours')
                            li
                                a(href='/' + lang + '/projects')= t('nav.projects')
                            li
                                a(href='/' + lang + '/contact')= t('nav.contact')
                        ul.list-unstyled.col-lg-4 
                            li
                                a(href='/' + lang + '/festival/1234') NU Performance
                            li
                                a(href='/' + lang + '/festival/1235') SAAL Bienaal
                        ul.list-unstyled.col-xs-6.col-lg-2
                            li
                                a(href='/en') In English   
                        ul.social.list-inline.col-xs-6.col-lg-2.text-right
                            li
                                a.icon-facebook3(href='https://www.facebook.com/KanutiGildiSAAL', target='blank')
                            li
                                a.icon-twitter3(href='https://twitter.com/kanutigildisaal', target='blank')
                            li
                                a.icon-instagram(href='https://instagram.com/kanutigildisaal', target='blank')
                            li
                                a.icon-vimeo3(href='http://vimeo.com/kanutigildisaal', target='blank')
                            if user
                                li
                                    a(href='/' + lang + '/users/me') Me
                                li
                                    a(href='/' + lang + '/signin/exit') Sign Out
                            else
                                li
                                    a(href='/' + lang + '/signin') Sign In

        .container
            if title
                .row
                    h1.col-xs-12.text-center= title

        block content

footer.container-fluid
    .container
        .row
            .col-xs-12.col-sm-6
                b= t('.KGS')
                br
                small
                    | Reg nr: XXXXXXXXXX
                    br
                    | Konto: EEXXXXXXXXXXXXXXXXXX
                    br
                    | SWIFT/BIC: XXXXXXXX
                    br
                    | PANK
            .col-xs-12.col-sm-6.text-right
                a(href='/team') Team
                br
                a(href='/partners') Partners
                br
                a(href='/tos') Terms of Service
        .row
            .col-xs-12.text-center
                a(href='https://www.facebook.com/', target='_blank')
                    i.fa.fa-facebook-square.social(style='color:#3b5998')
                a(href='https://www.twitter.com/xxxxxx', target='_blank')
                    i.fa.fa-twitter-square.social(style='color:#00aced')
                a(href='https://xxxxxx.blogspot.com/', target='_blank')
                    i.fa.fa-rss-square.social(style='color:#f57d00')
                a(href='http://www.enjoygram.com/tag/xxxxxx', target='_blank')
                    i.fa.fa-instagram.social(style='color:#517fa4')
                a(href='https://www.linkedin.com/company/xxxxxx', target='_blank')
                    i.fa.fa-linkedin-square.social(style='color:#007bb6')
                a(href='https://www.pinterest.com/xxxxxx/', target='_blank')
                    i.fa.fa-pinterest-square.social(style='color:#cb2027')
                a(href='http://xxxxxx.tumblr.com/', target='_blank')
                    i.fa.fa-tumblr-square.social(style='color:#32506d')
                a(href='https://www.youtube.com/channel/xxxxxx', target='_blank')
                    i.fa.fa-youtube-square.social(style='color:#bb0000')
style.
    /**
    ** SAAL COLOR SCHEME
    ** #00f - primary color
    ** #A62720 - secondary color
    */
    a:hover {
        color: #00f;
    }

    .navbar-default .social a {
        color: #00f;
    }

    .select-cat .active {
        color: #00f;
    }

    .select-cat label:hover {
        color:#00f;
    }

    .btn-primary {
        background-color: #00f;
        border-color: #00f;
    }

    .btn-primary:hover {
        color: #00f;
        border-color: #00f;
    }

    .btn-primary:focus {
        background-color: #00f;
        border-color: #00f;
    }

    .open>.btn-default.dropdown-toggle {
        background-color: #00f;
        border-color: #00f;
    }

    .btn-default {
        color: #00f;
        border-color: #00f;
    }

    .btn-default:hover {
        background-color: #00f;
        border-color: #00f;
    }

    .voulenteer a {
        background-color: #00f;
    }

    .voulenteer a:hover {
        border: 2px solid #00f;
        color: #00f;
    }

    .panel h3 a:focus,
    .panel .select-cat label a:focus,
    .select-cat .panel label a:focus {
        color: #00f;
    }

    footer {
        background-color: #00f;
    }

script.
    var target1 = document.getElementById('slide-01');
    var target2 = document.getElementById('slide-02');
    var gradientMap = "#00f, #A62720";

    GradientMaps.applyGradientMap(target1, gradientMap);
    GradientMaps.applyGradientMap(target2, gradientMap);