extends layout

block vars

block content

    .container-fluid
        .row.page-margin

            section.col-md-12
                .programme.row
                    .col-xs-12.col-md-12
                        h2= t('nav.magazine')
                    
                    .grid-row
                        each echoArray in Object.keys(allEchos).sort()
                            each yearString in Object.keys(op.get(allEchos[echoArray], [])).sort().reverse()
                                each monthString in Object.keys(op.get(allEchos, [echoArray,yearString], [])).sort().reverse()
                                    each dayString in Object.keys(op.get(allEchos, [echoArray,yearString, monthString], [])).sort().reverse()
                                        each posting in op.get(allEchos, [echoArray,yearString, monthString, dayString], [])

                                            a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href='./magazine/' + op.get(posting,'id'))
                                                img.img-responsive(src=op.get(posting, ['photos', 0, 'medium', 'file'], '/images/placeholder.jpg'))
                                                p= (moment(op.get(posting, ['date'])).locale(lang).format('L'))
                                                p
                                                    span.artist= op.get(posting, lang + '-title')

                                                    if op.get(posting, lang + '-subtitle', '')
                                                        span.artist= ' / ' + op.get(posting, lang + '-subtitle', '')

                                                if op.get(posting, 'author', []).length
                                                    span.author= op.get(posting, 'author', []).map(function(a){return a.value}).join(', ')
