extends layout

block vars
    - title='My profile'

block content
    .container
        form#profile
            .row
                .form-group.col-xs-12.col-sm-12
                    label.control-label(for='slogan') Slogan
                    input.form-control(id='slogan', type='text', value=profile.get('slogan.value'), data-value=profile.get('slogan.value'), data-id=profile.get('slogan.id'))

                .form-group.col-xs-12.col-sm-3
                    label.control-label(for='forename') Forename
                    input.form-control(id='forename', type='text', value=profile.get('forename.value'), data-value=profile.get('forename.value'), data-id=profile.get('forename.id'))

                .form-group.col-xs-12.col-sm-3
                    label.control-label(for='surname') Surname
                    input.form-control(id='surname', type='text', value=profile.get('surname.value'), data-value=profile.get('surname.value'), data-id=profile.get('surname.id'))

                .form-group.col-xs-12.col-sm-3
                    label.control-label(for='email') E-mail
                    input.form-control(id='email', type='text', value=profile.get('email.value'), data-value=profile.get('email.value'), data-id=profile.get('email.id'))

                //- .form-group.col-xs-12.col-sm-3
                //-     label.control-label(for='you_help_photo') Profile Picture
                //-     input.form-control(id='you_help_photo', type='file')

            .row.spacer
            .row.spacer

                .form-group.col-xs-12.col-sm-4
                    label.control-label(for='address') Address
                    input.form-control(id='address', type='text', value=profile.get('address.value'), data-value=profile.get('address.value'), data-id=profile.get('address.id'))
                .form-group.col-xs-12.col-sm-4
                    label.control-label(for='town') City
                    input.form-control(id='town', type='text', value=profile.get('town.value'), data-value=profile.get('town.value'), data-id=profile.get('town.id'))

                .form-group.col-xs-12.col-sm-4
                    label.control-label(for='county') County
                    input.form-control(id='county', type='text', value=profile.get('county.value'), data-value=profile.get('county.value'), data-id=profile.get('county.id'))

                .form-group.col-xs-12.col-sm-4
                    label.control-label(for='country') Country
                    input.form-control(id='country', type='text', value=profile.get('country.value'), data-value=profile.get('country.value'), data-id=profile.get('country.id'))


            .row.spacer
            .row.spacer

            .row
                .col-xs-12
                    ul.nav.nav-pills.nav-justified
                        li.active(style='background-color:#f14d3e')
                            a(href='#tab-about', data-toggle='tab') About me
                        li(style='background-color:#55938e')
                            a(href='#tab-i-help', data-toggle='tab') I can help others
                        li(style='background-color:#fab235')
                            a(href='#tab-you-help', data-toggle='tab') I need help

            .row.tab-content
                #tab-about.tab-pane.active

                    .form-group.col-xs-12
                        label.control-label(for='about-me-text') Write something about you
                        textarea.form-control(id='about-me-text', data-value=profile.get('about-me-text.value'), data-id=profile.get('about-me-text.id'), rows=8)= profile.get('about-me-text.value')
                        p.text-right
                            small you can use&nbsp;
                                a(href='https://en.wikipedia.org/wiki/Markdown#Example', target='_blank') markdown

                    //- .form-group.col-xs-12.col-sm-4
                    //-     label.control-label(for='about-me-photo') Cover Photo
                    //-     input.form-control(id='about-me-photo', type='file')

                    .form-group.col-xs-12.col-sm-8
                        label.control-label(for='about-me-video') Video URL
                        input.form-control(id='about-me-video', type='text', value=profile.get('about-me-video.value'), data-value=profile.get('about-me-video.value'), data-id=profile.get('about-me-video.value'))
                        p.text-right
                            small
                                | we support only&nbsp;
                                a(href='https://youtube.com', target='_blank') YouTube
                                | ,&nbsp;
                                a(href='https://vimeo.com', target='_blank') Vimeo
                                |  and&nbsp;
                                a(href='https://wistia.com', target='_blank') Wistia
                                |  urls

                #tab-i-help.tab-pane

                    .form-group.col-xs-12
                        label.control-label(for='me-help-you-text') How you can help others?
                        textarea.form-control(id='me-help-you-text', data-value=profile.get('me-help-you-text.value'), data-id=profile.get('me-help-you-text.id'), rows=8)= profile.get('me-help-you-text.value')
                        p.text-right
                            small you can use&nbsp;
                                a(href='https://en.wikipedia.org/wiki/Markdown#Example', target='_blank') markdown

                    //- .form-group.col-xs-12.col-sm-4
                    //-     label.control-label(for='me-help-you-photo') Cover Photo
                    //-     input.form-control(id='me-help-you-photo', type='file')

                    .form-group.col-xs-12.col-sm-8
                        label.control-label(for='me-help-you-video') Video URL
                        input.form-control(id='me-help-you-video', type='text', value=profile.get('me-help-you-video.value'), data-value=profile.get('me-help-you-video.value'), data-id=profile.get('me-help-you-video.id'))
                        p.text-right
                            small
                                | we support only&nbsp;
                                a(href='https://youtube.com', target='_blank') YouTube
                                | ,&nbsp;
                                a(href='https://vimeo.com', target='_blank') Vimeo
                                |  and&nbsp;
                                a(href='https://wistia.com', target='_blank') Wistia
                                |  urls

                #tab-you-help.tab-pane

                    .form-group.col-xs-12
                        label.control-label(for='you-help-me-text') What kind of help you need?
                        textarea.form-control(id='you-help-me-text', data-value=profile.get('you-help-me-text.value'), data-id=profile.get('you-help-me-text.id'), rows=8)= profile.get('you-help-me-text.value')
                        p.text-right
                            small you can use&nbsp;
                                a(href='https://en.wikipedia.org/wiki/Markdown#Example', target='_blank') markdown

                    //- .form-group.col-xs-12.col-sm-4
                    //-     label.control-label(for='you-help-me-photo') Cover Photo
                    //-     input.form-control(id='you-help-me-photo', type='file')

                    .form-group.col-xs-12.col-sm-8
                        label.control-label(for='you-help-me-video') Video URL
                        input.form-control(id='you-help-me-video', type='text', value=profile.get('you-help-me-video.value'), data-value=profile.get('you-help-me-video.value'), data-id=profile.get('you-help-me-video.id'))
                        p.text-right
                            small
                                | we support only&nbsp;
                                a(href='https://youtube.com', target='_blank') YouTube
                                | ,&nbsp;
                                a(href='https://vimeo.com', target='_blank') Vimeo
                                |  and&nbsp;
                                a(href='https://wistia.com', target='_blank') Wistia
                                |  urls

            .row.spacer

    script.
        $('input, textarea').focus(function() {
            $("label[for='" + this.id + "']").addClass('labelfocus')
        }).blur(function() {
            $('label').removeClass('labelfocus')

            input = $(this)
            if(input.data('value') != input.val()) {
                var postdata = {
                    property: input.attr('id'),
                    id: input.data('id'),
                    value: input.val()
                }
                $.post('', postdata, function(data) {
                    input.val(data.value)
                    input.data('id', data.id)
                    input.data('value', data.value)
                }).fail(console.log)
            }
        })
