nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                .icon-bar
                .icon-bar
                .icon-bar
            a.navbar-brand.logo(href='/' + lang + '/')
                img(src='/images/saal_logo.svg', alt=t('.KGS_logo'))
                //p.season.visible-lg= t('.season') + ' ' + SAAL.season

        .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
            ul.nav.navbar-nav.main-nav
                li(class= route == 'about' ? 'active' : undefined )
                    a(href='/' + lang + '/about') SAAL
                li(class= route == 'program' ? 'active' : undefined )
                    a(href='/' + lang + '/program')= t('nav.schedule')
                li(class= route == 'co_productions' ? 'active' : undefined )
                    a(href='/' + lang + '/co_productions')= t('nav.coproductions')
                li(class= route == 'tours' ? 'active' : undefined )
                    a(href='/' + lang + '/tours')= t('nav.tours')
                li(class= route == 'residency' ? 'active' : undefined )
                    a(href='/' + lang + '/residency')= t('nav.residency')
                li(class= route == 'projects' ? 'active' : undefined )
                    a(href='/' + lang + '/projects')= t('nav.projects')
                li(class= route == 'magazine' ? 'active' : undefined )
                    a(href='/' + lang + '/magazine')= t('nav.magazine')
                li(class= route == 'festivals' ? 'active' : undefined )
                    a(href='/' + lang + '/festivals')= t('nav.festivals')
                li(class= route == 'contact' ? 'active' : undefined )
                    a(href='/' + lang + '/contact')= t('nav.contact')
        
            ul.nav.navbar-nav.navbar-right.social
                each locale in locales
                    if lang !== locale
                        li.lang
                            a(href='/'+locale+'/'+path)= t('lang.' + locale)
