extends layout

block vars

block content

    .container-fluid
    
        .row
            .event-banner.carousel.slide(id='front-carousel')
                .carousel-inner(role='listbox')
                    figure(id = 'slide-' + op.get(performance, ['id']), style='background-image: url(' + op.get(performance, ['photo', 'file'], '/images/placeholder.jpg') + ');')
                    header.col-md-8
                        if op.get(performance, [lang + '-supertitle'], '')
                            p= op.get(performance, [lang + '-supertitle'], '')
                        h1
                            if op.get(performance, 'artist', '')
                                span.artist= op.get(performance, ['artist'], '')
                            
                            if op.get(performance, 'producer', '')    
                                span.producer= op.get(performance, ['producer'], '')
                            
                            if op.get(performance, [lang + 'town'], '')    
                                span.town= op.get(performance, [lang + 'town'], '')
                                
                        h1= op.get(performance, [lang + '-name'], '')
                        
                        if op.get(performance, [lang + '-subtitle'], '')
                            p= op.get(performance, [lang + '-subtitle'], '')

                    ul.event-categories
                        each rootCategory in rootCategories
                            li.text-uppercase.h3(class=(rootCategory.checked ? "" : "unactive"))
                                span
                                    a(href='search?q=category:' + op.get(rootCategory, ['id'], t('Jon Doe')))= op.get(rootCategory, [lang+'-name'], t('Jon Doe'))

                    //- Gradient Map for images
                    script.
                        var slide#{id} = document.getElementById('slide-#{id}');
                        var gradientMap = '#{SAAL.secondary_color}, #{SAAL.main_color}';

                        GradientMaps.applyGradientMap(slide#{id}, gradientMap); 

        .row.front-page-margin
            aside.col-md-12.col-lg-3
                if op.get(performance, [lang + '-technical-information'], false)
                    .meta-info!= op.get(performance, [lang + '-technical-information'])
                if op.get(performance, ['duration'], op.get(events, [0, 'duration'], false))
                    .meta-info= t('label.duration') + ': ' + op.get(performance, ['duration'], op.get(events, [0, 'duration'])) + ' ' + t('label.minutes.short')
                
                if op.get(performance, ['otherWorks', 0], false)
                    .related-perfomance
                        h2= t('title.related')
                        each otherWork in op.get(performance, ['otherWorks'], [])
                            .row
                                .col-xs-12
                                    a(href='./performance/' + op.get(otherWork, ['id']))
                                        p= op.get(otherWork, [lang + '-name'])
                                .col-xs-12.col-md-12.col-lg-12
                                    hr

            article.readMore.main-text.col-md-8.col-lg-6.h3!= op.get(performance, lang + '-description')

            aside.col-md-4.col-lg-3
                if events.length
                    .tickets.row
                        each event in events
                            .col-xs-4.col-md-4.col-lg-4
                                p= (moment(op.get(event, ['start-time'])).locale(lang).format('dddd'))
                                p= (moment(op.get(event, ['start-time'])).locale(lang).format('L'))
                                if (moment(op.get(event, ['start-time'])).locale(lang).format('HH:mm')) != '23:59'
                                    p= (moment(op.get(event, ['start-time'])).locale(lang).format('HH:mm'))

                            .col-xs-8.col-md-8.col-lg-8
                                p= op.get(event, [lang + '-name'], '')
                            
                            if op.get(event, ['sales-status'])
                                span(style='float:right;')
                                    if op.get(event, 'canceled') === true
                                        a.btn.btn-primary(class="disabled")= t('button.canceled')
                                    else
                                        a.btn.btn-primary(class=((op.get(event, 'sales-status') === 'sold_out' || op.get(event, 'sales-status') === 'free_admission') ? "free disabled" : "") href=op.get(event, lang + '-ticket-api') target='_blank')= t('button.buy_ticket.' + op.get(event, 'sales-status'))

                            .col-xs-12.col-md-12.col-lg-12
                                hr

                if pastEvents.length
                    .past
                        h2= t('title.past')
                        .row
                            each event in pastEvents
                                .col-xs-6.col-md-5.col-lg-4
                                    p= (moment(op.get(event, ['start-time'])).locale(lang).format('L'))
                                    p= op.get(event, ['saal-location', lang+'-name'], op.get(event, [lang + '-location'], ''))
                                .col-xs-6.col-md-7.col-lg-8
                                    p= op.get(event, [lang + '-name'], '')
                                .col-xs-12.col-md-12.col-lg-12
                                    hr

        .row.front-page-margin
            .col-md-6

                if op.get(performance, 'video')
                    .gallery
                        h2= t('title.video')
                            each video in op.get(performance, 'videos')
                                div!= video
                if op.get(performance, 'audio')
                    .gallery
                        h2= t('title.audio')
                            each audio in op.get(performance, 'audios')
                                div!= audio

                if op.get(performance, ['photos'])
                    .gallery
                        h2= t('title.gallery')
                        .row
                            each photo in op.get(performance, ['photos'], [])
                                .single-image.col-xs-6.col-sm-3.col-md-4
                                    a.fancybox(rel='gallery', href=op.get(photo, ['big', 'file'], op.get(photo, ['medium', 'file'], '/images/placeholder.jpg')) )
                                        img(src=op.get(photo, ['medium', 'file'], '/images/placeholder.jpg'), class='img-responsive')

                .supporter
                    ul.list-inline
                        each logo in op.get(performance, ['logo'], [])
                            li
                                img(src=logo.file, class='img-responsive')

            .col-md-6
                if Object.keys(coverage).length
                    .press
                        h2= t('title.press')
                        .row
                            each datestring in Object.keys(coverage).sort(function(a,b){return a<b?1:-1})
                                .col-md-12
                                    each press in op.get(coverage, [datestring])
                                        br
                                        if press.photo
                                            a(target='_blank' href=press.photo.file)
                                                img(src=press.photo.file, width='50', style='float:left; margin-right:1em')
                                                if press.title
                                                    p= press.title
                                            if press.source
                                                a(target='_blank' href=press.url)
                                                    p.source= press.source
                                                    p= (moment(datestring).locale(lang).format('L'))
                                            else
                                                p= (moment(datestring).locale(lang).format('L'))
                                        else
                                            if press.source
                                                a(target='_blank' href=press.url)= press.title
                                                    p.source= press.source
                                                    p= (moment(datestring).locale(lang).format('L'))
                                            else
                                                p= (moment(datestring).locale(lang).format('L'))
