extends layout

block vars

block content

    .container-fluid
        .row.page-margin
            
            nav.archive.top.col-md-12
                .row
                    .hidden-xs.col-sm-6.col-md-1.col-lg-1
                        .btn-group
                            button.btn.dtn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= t('button.year') 
                                    span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='#') 2015
                                li
                                    a(href='#') 2014
                                li
                                    a(href='#') 2013
                                li
                                    a(href='#') 2012
                                li
                                    a(href='#') 2011
                                li
                                    a(href='#') 2010
                    .hidden-xs.col-sm-6.col-md-2.col-lg-2
                        .btn-group
                            button.btn.dtn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= t('button.category')
                                    span.caret
                            ul.dropdown-menu(role='menu')
                                each cat in all_categories
                                    li
                                        a(href='program/'+year+'/'+month+'/'+cat.id)= op.get(cat, ['properties', lang + '-name', 'value'])
                                    //- li
                                    //-     a(href='#')= t('categories.theatre')
                                    //- li
                                    //-     a(href='#')= t('categories.dance')
                                    //- li
                                    //-     a(href='#')= t('categories.performance')
                                    //- li
                                    //-     a(href='#')= t('categories.music')
                                    //- li
                                    //-     a(href='#')= t('categories.lecture')
                                    //- li
                                    //-     a(href='#')= t('categories.film')
                                    //- li
                                    //-     a(href='#')= t('categories.new-circus')

                    .col-sm-12.col-md-9.col-lg-9
                        ul.pager
                            li.previous
                                a(href='#')
                                    span &larr; August 2015
                            li.next
                                a(href='#')
                                    span September 2015 &rarr;

            .col-md-12
                .tours.row
                    .col-xs-12.col-md-12.col-lg-12
                        each cat in categories
                            p= op.get(all_categories, [cat, 'properties', lang + '-name', 'value'], 'foo')
                        h2= year + ' ' + t('month.' + month)

                    if program
                        each eventdate, datestring in program
                            each eventtime, timestring in eventdate
                                each p in eventtime
                                    .col-xs-12.col-sm-2.col-lg-2
                                        p= (moment(datestring).locale(lang).format('dddd'))
                                        p= (moment(datestring).locale(lang).format('L'))
                                        p= timestring

                                        //- Premiere
                                        if op.get(p, 'performance.premiere.start-time')
                                            if (moment(datestring).locale(lang).format('L') === moment(op.get(p, 'performance.premiere.start-time')).locale(lang).format('L'))
                                                p.today= t('button.premiere')

                                        //- Today
                                        if (moment(datestring).format('M') + ' ' + moment(datestring).format('D')) == ((moment().month()+1) + ' ' + moment().date())
                                            div.today= t('button.today')

                                    .col-xs-12.col-md-6.col-lg-6
                                        h3= op.get(p, lang + '-name')
                                        p= 'foo' + op.get(p, 'pl-id')

                                    .col-xs-6.col-md-2.col-lg-2
                                        p= op.get(p, 'location')
                                        //-p= op.get(p, 'price')
                                        
                                        if op.get(p, 'min-price')
                                            if op.get(p, 'min-price') == op.get(p, 'max-price')
                                                p= op.get(p, 'min-price')
                                            else
                                                p= op.get(p, 'min-price') + '/' + op.get(p, 'max-price') + '€'

                                    if op.get(p, 'sales-status')
                                        .col-xs-6.col-md-2.col-lg-2.text-right
                                            a.btn.btn-primary(class=(op.get(p, 'sales-status') == 'sold_out' ? "disabled" : "") href=op.get(p, 'ticket-api') target='_blank')= t('button.buy_ticket.' + op.get(p, 'sales-status'))
                                                
                                    .col-xs-12.col-md-12.col-lg-12
                                        hr
                    else
                        .col-lg-12
                            h2= t('title.no-events')

            nav.archive.bottom.col-md-12
                .row
                    .hidden-xs.col-sm-6.col-md-1.col-lg-1
                        .btn-group
                            button.btn.dtn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= t('button.year') 
                                    span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='#') 2015
                                li
                                    a(href='#') 2014
                                li
                                    a(href='#') 2013
                                li
                                    a(href='#') 2012
                                li
                                    a(href='#') 2011
                                li
                                    a(href='#') 2010
                    .hidden-xs.col-sm-6.col-md-2.col-lg-2
                        .btn-group
                            button.btn.dtn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= t('button.category')
                                    span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='#')= t('categories.theatre')
                                li
                                    a(href='#')= t('categories.dance')
                                li
                                    a(href='#')= t('categories.performance')
                                li
                                    a(href='#')= t('categories.music')
                                li
                                    a(href='#')= t('categories.lecture')
                                li
                                    a(href='#')= t('categories.film')
                                li
                                    a(href='#')= t('categories.new-circus')

                    .col-sm-12.col-md-9.col-lg-9
                        ul.pager
                            li.previous
                                a(href='#')
                                    span &larr; August 2015
                            li.next
                                a(href='#')
                                    span September 2015 &rarr;
