extends layout

block vars

block content

    .container-fluid
        .row.page-margin
            
            nav.archive.top.col-md-12
                .row    
                    .col-xs-12.col-sm-2.col-md-2.col-lg-1
                        .btn-group.year-select
                            button.btn.dtn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= t('button.year') 
                                    span.caret
                            ul.dropdown-menu(role='menu')
                                each year in [2015, 2014, 2013, 2012, 2011, 2010]
                                    li
                                        if year != monthNav.current.year
                                            a(href = 'program/' + year + '/' + monthNav.current.month + '/' + categories.join(','))= year
                                        else
                                            a
                                                b= year
                    .col-xs-12.col-sm-10.col-md-10.col-lg-11.select-cat 
                        each cat in all_categories
                            if categories.indexOf(cat.id) == -1
                                a(href='program/'+monthNav.current.year+'/'+monthNav.current.month+'/'+categories.join(',') + ',' + cat.id)
                                    = op.get(cat, ['properties', lang + '-name', 'value'])
                                    span.icon-checkmark2
                            else
                                a(href='program/'+monthNav.current.year+'/'+monthNav.current.month+'/'+arraySubtract(categories, cat.id).join(','))
                                    .active= op.get(cat, ['properties', lang + '-name', 'value'])
                                        span.icon-checkmark                            
                
                .row                            
                    .col-sm-12.col-md-12.col-lg-12
                        ul.pager
                            li.previous
                                a(href = 'program/' + monthNav.prev.year + '/' + monthNav.prev.month + '/' + categories.join(','))
                                    span= '← ' + t('month.' + monthNav.prev.month) + ' ' + monthNav.prev.year
                            li.next
                                a(href = 'program/' + monthNav.next.year + '/' + monthNav.next.month + '/' + categories.join(','))
                                    span= t('month.' + monthNav.next.month) + ' ' + monthNav.next.year + ' →'

            .col-md-12
                .programme.row
                    .col-xs-12.col-md-12.col-lg-12
                        //- pre= JSON.stringify(categories, null, 2)
                        //- each cat in categories
                        //-     p= op.get(all_categories, [cat, 'properties', lang + '-name', 'value'], 'foo')
                        h2= monthNav.current.year + ' ' + t('month.' + monthNav.current.month)

                    if program
                        each eventdate, datestring in program
                            each eventtime, timestring in eventdate
                                each p in eventtime
                                    .col-xs-12.col-sm-2.col-lg-2
                                        p= (moment(datestring).locale(lang).format('dddd'))
                                        p= (moment(datestring).locale(lang).format('L'))
                                        p= timestring

                                        //- Premiere
                                        if op.get(p, 'performance.premiere.start-time')
                                            if (moment(datestring).locale(lang).format('L') === moment(op.get(p, 'performance.premiere.start-time')).locale(lang).format('L'))
                                                p.today= t('button.premiere')

                                        //- Today
                                        if (moment(datestring).format('M') + ' ' + moment(datestring).format('D')) == ((moment().month()+1) + ' ' + moment().date())
                                            div.today= t('button.today')

                                    .col-xs-12.col-md-6.col-lg-6
                                        h3
                                            if op.get(p, 'performance.id', false)
                                                a(href='/' + lang + '/performance/' + op.get(p,'performance.id'))
                                                    span= op.get(p, lang + '-subtitle', '')
                                                    br
                                                    span.artist= op.get(p, 'performance.artist', '')
                                                    span.producer= op.get(p, 'performance.producer', '')
                                                    span.town= op.get(p, 'performance.town', '')
                                                    br
                                                    span= op.get(p, lang + '-name')
                                                
                                            else
                                                a(href='/' + lang + '/event/' + op.get(p,'id'))= op.get(p, lang + '-name')
                                                    span= op.get(p, lang + '-subtitle', '')
                                                    br
                                                    span.artist= op.get(p, 'performance.artist', '')
                                                    span.producer= op.get(p, 'performance.producer', '')
                                                    span.town= op.get(p, 'performance.town', '')
                                                    br
                                                    span= op.get(p, lang + '-name')
                                                    
                                    .col-xs-6.col-md-2.col-lg-2
                                        p= op.get(p, 'location.'+ lang + '-name')
                                        if op.get(p, 'price') == 0
                                            p= t('title.free')
                                        else
                                            p= op.get(p, 'price')
                                        
                                        if op.get(p, 'min-price')
                                            if op.get(p, 'min-price') == op.get(p, 'max-price')
                                                p= op.get(p, 'min-price') + '€'
                                            else
                                                p= op.get(p, 'min-price') + '/' + op.get(p, 'max-price') + '€'

                                    if op.get(p, 'sales-status')
                                        .col-xs-6.col-md-2.col-lg-2.text-right
                                            a.btn.btn-primary(class=(op.get(p, 'sales-status') == 'sold_out' ? "disabled" : "") href=op.get(p, 'ticket-api') target='_blank')= t('button.buy_ticket.' + op.get(p, 'sales-status'))
                                                
                                    .col-xs-12.col-md-12.col-lg-12
                                        hr
                    else
                        .col-lg-12
                            h2= t('title.no-events')

            nav.archive.bottom.col-md-12
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        ul.pager
                            li.previous
                                a(href = 'program/' + monthNav.prev.year + '/' + monthNav.prev.month + '/' + categories.join(','))
                                    span= '← ' + t('month.' + monthNav.prev.month) + ' ' + monthNav.prev.year
                            li.next
                                a(href = 'program/' + monthNav.next.year + '/' + monthNav.next.month + '/' + categories.join(','))
                                    span= t('month.' + monthNav.next.month) + ' ' + monthNav.next.year + ' →'
                
                //- .row    
                //-     .col-xs-12.col-sm-2.col-md-1.col-lg-1
                //-         .btn-group.year-select
                //-             button.btn.dtn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= t('button.year') 
                //-                     span.caret
                //-             ul.dropdown-menu(role='menu')
                //-                 each year in [2015, 2014, 2013, 2012, 2011, 2010]
                //-                     li
                //-                         if year != monthNav.current.year
                //-                             a(href = 'program/' + year + '/' + monthNav.current.month + '/' + categories.join(','))= year
                //-                         else
                //-                             a
                //-                                 b= year
                //-     .col-xs-12.col-sm-10.col-md-11.col-lg-11.select-cat 
                //-         each cat in all_categories
                //-             if categories.indexOf(cat.id) == -1
                //-                 a(href='program/'+monthNav.current.year+'/'+monthNav.current.month+'/'+categories.join(',') + ',' + cat.id)
                //-                     = op.get(cat, ['properties', lang + '-name', 'value'])
                //-                     span.icon-checkmark2
                //-             else
                //-                 a(href='program/'+monthNav.current.year+'/'+monthNav.current.month+'/'+arraySubtract(categories, cat.id).join(','))
                //-                     .active= op.get(cat, ['properties', lang + '-name', 'value'])
                //-                         span.icon-checkmark                            
