extends layout

block vars

block content

    .container-fluid

        .row
            .event-banner.carousel.slide(id='front-carousel' data-ride='carousel')
                .carousel-inner(role='listbox')
                    figure(id='slide-'+op.get(event, 'id')+'' style='background-image: url(' + op.get(event, 'photo.file') + ');')
                    header.col-md-8
                        p= (moment(op.get(event,['start-time'])).locale('et').format('L')) + "—" + moment(op.get(event,['end-time'])).locale('et').format('L')
                        h1= op.get(event, lang + '-name')

                    - categoryNames = op.get(event, 'category').map(function(c){return c.value});    
                    ul.event-categories
                        li.text-uppercase.h3(class=(categoryNames.indexOf("Teater") > -1 ? "" : "unactive"))
                            span= t('categories.theatre')
                        li.text-uppercase.h3(class=(categoryNames.indexOf("Tants") > -1 ? "" : "unactive"))
                            span= t('categories.dance')
                        li.text-uppercase.h3(class=(categoryNames.indexOf("Performance") > -1 ? "" : "unactive"))
                            span= t('categories.performance')
                        li.text-uppercase.h3(class=(categoryNames.indexOf("Muusika") > -1 ? "" : "unactive"))
                            span= t('categories.music')
                        li.text-uppercase.h3(class=(categoryNames.indexOf("Loeng") > -1 ? "" : "unactive"))
                            span= t('categories.lecture')
                        li.text-uppercase.h3(class=(categoryNames.indexOf("Film") > -1 ? "" : "unactive"))
                            span= t('categories.film')
                        li.text-uppercase.h3(class=(categoryNames.indexOf("Uus Tsirkus") > -1 ? "" : "unactive"))
                            span= t('categories.new-circus')

                    script.
                        var slide#{id} = document.getElementById('slide-#{id}');
                        var gradientMap = '#{SAAL.secondary_color}, #{SAAL.main_color}';

                        GradientMaps.applyGradientMap(slide#{id}, gradientMap);       

        .row.page-margin
            article.main-text.col-md-12.col-lg-9.h3!= op.get(event, lang + '-description')

            aside.video-sound.col-md-12.col-lg-3
                if op.get(event, 'audio')
                    div
                        h2= t('title.sound')
                        div!= op.get(event, 'audio')
                if op.get(event, 'video')
                    div
                        h2= t('title.video')
                        div!= op.get(event, 'video')
