extends layout

block vars

block content

    .container-fluid
        .row.page-margin
            section.col-xs-12.col-md-12.col-lg-9

                .programme.row
                    .col-xs-12.col-md-12.col-lg-12
                        p= t('q.query') + ': ' + q
                        if results.length == 0
                            h2= t('q.results.0')
                        else if results.length == 1
                            h2= t('q.results.1')
                        else
                            h2= t('q.results') + ' ' + results.length

                    each event in results
                        .col-xs-12.col-sm-2.col-lg-2
                            each stime in op.get(event, 'start-times', [])
                                p= t('weekdays.' + new Date(stime).getDay())
                                p= (moment(stime).locale(lang).format('L'))
                        .col-xs-12.col-md-6.col-lg-6
                            h3.col-xs-12
                                a(href='/' + lang + '/event/' + event.id)!= event.name
                        .col-xs-12.col-md-6.col-lg-6
                            p.col-xs-12!= event.name
                        .col-xs-12.col-md-12.col-lg-12
                            hr

            aside.col-xs-12.col-md-12.col-lg-3
                .row
                    .hidden-xs.col-md-4(id='datepicker')

                    .col-xs-12.col-md-4.col-lg-12.voulenteer
                        a.text-center.h2(href='mailto:vabatahtlik@saal.ee') Tule vabatahtlikuks!