- var fgcolor = SDC.get(['root', 'main_color'], 'FFFF00')
- var bgcolor = SDC.get(['root', 'secondary_color'], '1a1919')
style.
    /**
    ** SAAL COLOR SCHEME
    */
    
    #front-carousel,
    .event-banner .item {
        background-color: #{bgcolor};
    }

    a:hover {
        color: #{bgcolor};
    }

    .select-cat .active {
        color: #{bgcolor};
    }

    .select-cat label:hover {
        color:#{bgcolor};
    }

    li.event,
    .highlight.event {
        background-color: #{fgcolor};
    }

    li.tour,
    .highlight.tour {
        background-color: #28DF24;
    }

    li.tour {
    margin-bottom: 0;
    }

    li.residency,
    .highlight.residency {
        background-color: #{bgcolor};
    }

    .navbar-nav > .active > a,
    .main-nav a:hover,
    .legend li.event:before {
        color: #{fgcolor} !important;
    }

    .legend li.residency:before {
        color: #{bgcolor};
    }

    .legend li.tour:before {
        color: #28DF24;
    }

    .legend li.event,
    .legend li.tour,
    .legend li.residency {
        background-color: transparent;
    }

    .today {
        color: #{fgcolor};
    }

    .btn,
    .btn-primary {
        background-color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .btn:hover,
    .btn-primary:hover {
        color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .btn:focus,
    .btn-primary:focus {
        background-color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .open>.btn-default.dropdown-toggle {
        background-color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .btn-default {
        color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .btn-default:hover {
        background-color: #{bgcolor};
        border-color: #{bgcolor};
    }

    .social a {
        color: #{fgcolor} !important;
    }

    .social a:hover {
        color: #{bgcolor} !important;
    }

    .volunteer a {
        background-color: #{fgcolor};
        color: #{bgcolor};
    }

    .volunteer a:hover {
        border: 2px solid #{bgcolor};
        color: #{bgcolor};
    }

    .panel h3 a:focus,
    .panel .select-cat label a:focus,
    .select-cat .panel label a:focus {
        color: #{bgcolor};
    }

    #mailchimp-sign-up input[type="text"] {
        border: 2px solid #{bgcolor};
        color: #{bgcolor};
    }

    #mailchimp-sign-up input[type="submit"] {
        color: #{bgcolor};
    }

    .matched {
        color: red;
    }

    .pager li > a,
    .pager li > span {
        background-color: #{bgcolor};
        border: 1px solid #{bgcolor};
        color: #fff;
    }

    .pager li > a:hover,
    .pager li > span:hover {
        background-color: #fff;
        border: 1px solid #{bgcolor};
        color: #{bgcolor};
    }

    footer {
        background-color: #{bgcolor};
    }

    .site-search input {
        border: 2px solid #{bgcolor};
        color: #{bgcolor};
    }

    .site-search button{
        color: #{bgcolor};
    }
