extends layout

block vars

block content

    .container-fluid
        .row.page-margin
            
            //- nav.archive.top.col-md-12
            //-     .row
            //-         .hidden-xs.col-sm-6.col-md-1.col-lg-1
            //-             .btn-group
            //-                 button.btn.dtn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= t('button.year') 
            //-                         span.caret
            //-                 ul.dropdown-menu(role='menu')
            //-                     li
            //-                         a(href='#') 2015
            //-                     li
            //-                         a(href='#') 2014
            //-                     li
            //-                         a(href='#') 2013
            //-                     li
            //-                         a(href='#') 2012
            //-                     li
            //-                         a(href='#') 2011
            //-                     li
            //-                         a(href='#') 2010
            //-         .hidden-xs.col-sm-6.col-md-2.col-lg-2
            //-             .btn-group
            //-                 button.btn.dtn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= t('button.category')
            //-                         span.caret
            //-                 ul.dropdown-menu(role='menu')
            //-                     li
            //-                         a(href='#')= t('categories.theatre')
            //-                     li
            //-                         a(href='#')= t('categories.dance')
            //-                     li
            //-                         a(href='#')= t('categories.performance')
            //-                     li
            //-                         a(href='#')= t('categories.music')
            //-                     li
            //-                         a(href='#')= t('categories.lecture')
            //-                     li
            //-                         a(href='#')= t('categories.film')
            //-                     li
            //-                         a(href='#')= t('categories.new-circus')
            //- 
            //-         .col-sm-12.col-md-9.col-lg-9
            //-             ul.pager
            //-                 li.previous
            //-                     a(href='#')
            //-                         span &larr; August 2015
            //-                 li.next
            //-                     a(href='#')
            //-                         span September 2015 &rarr;

            .col-md-12
                .tour.row
                    //- .col-xs-12.col-md-12.col-lg-12
                    //-     h2 Aprill 2015

                    each eventdate, datestring in tours
                        each eventtime, timestring in eventdate
                            each p, i in eventtime
                                .col-xs-12.col-md-2
                                    p= t('weekdays.' + new Date(datestring).getDay())
                                    p= (moment(datestring).locale(lang).format('L'))
                                    p= timestring
                                .col-xs-12.col-md-6
                                    h3
                                        if op.get(p, 'performance.id', false)
                                            a(href='/' + lang + '/performance/' + op.get(p,'performance.id'))
                                                span= op.get(p, 'performance.artist', '') + ' / ' + op.get(p, 'performance.producer', '') + ' / ' + op.get(p, 'performance.town', '')
                                                br
                                                span= op.get(p, lang + '-name')
                                            
                                        else
                                            a(href='/' + lang + '/event/' + op.get(p,'id'))
                                                span= op.get(p, 'performance.artist', '') + ' / ' + op.get(p, 'performance.producer', '') + ' / ' + op.get(p, 'performance.town', '')
                                                br
                                                span= op.get(p, lang + '-name')
                                            
                                .col-xs-6.col-md-2.col-lg-2
                                    
                                    p= op.get(p, 'price')
                                .col-xs-6.col-md-2.text-right
                                    p= op.get(p, 'location')
                                .col-xs-12.col-md-12
                                    hr

            //- nav.archive.bottom.col-md-12
            //-     .row
            //-         .hidden-xs.col-sm-6.col-md-1.col-lg-1
            //-             .btn-group
            //-                 button.btn.dtn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= t('button.year') 
            //-                         span.caret
            //-                 ul.dropdown-menu(role='menu')
            //-                     li
            //-                         a(href='#') 2015
            //-                     li
            //-                         a(href='#') 2014
            //-                     li
            //-                         a(href='#') 2013
            //-                     li
            //-                         a(href='#') 2012
            //-                     li
            //-                         a(href='#') 2011
            //-                     li
            //-                         a(href='#') 2010
            //-         .hidden-xs.col-sm-6.col-md-2.col-lg-2
            //-             .btn-group
            //-                 button.btn.dtn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false')= t('button.category')
            //-                         span.caret
            //-                 ul.dropdown-menu(role='menu')
            //-                     li
            //-                         a(href='#')= t('categories.theatre')
            //-                     li
            //-                         a(href='#')= t('categories.dance')
            //-                     li
            //-                         a(href='#')= t('categories.performance')
            //-                     li
            //-                         a(href='#')= t('categories.music')
            //-                     li
            //-                         a(href='#')= t('categories.lecture')
            //-                     li
            //-                         a(href='#')= t('categories.film')
            //-                     li
            //-                         a(href='#')= t('categories.new-circus')
            //- 
            //-         .col-sm-12.col-md-9.col-lg-9
            //-             ul.pager
            //-                 li.previous
            //-                     a(href='#')
            //-                         span &larr; August 2015
            //-                 li.next
            //-                     a(href='#')
            //-                         span September 2015 &rarr;
