extends layout

block vars

block content

    .container-fluid
        .row.page-margin
            .col-md-12
                .programme.row
                    .col-xs-12.col-md-12.col-lg-12
                        h2 Aprill 2015

                    each eventdate, datestring in tours
                        each eventtime, timestring in eventdate
                            each p, i in eventtime
                                .col-xs-12.col-md-2
                                    p= t('weekdays.' + new Date(datestring).getDay())
                                    p= datestring
                                    //p= (new Date(datestring).toString())
                                    p= timestring
                                .col-xs-12.col-md-6
                                    h3
                                        a(href='/' + lang + '/event/' + op.get(p,'id'))= op.get(p, 'name')
                                .col-xs-6.col-md-2.col-lg-2
                                    
                                    p= op.get(p, 'price')
                                .col-xs-6.col-md-2.text-right
                                    p= op.get(p, 'location')
                                .col-xs-12.col-md-12
                                    hr

